# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db